In [2]:
import numpy as np # linear algebra
import pandas as pd

In [3]:
df1 = pd.read_csv('all_auto_ru_09_09_2020.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89378 entries, 0 to 89377
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bodyType              89377 non-null  object
 1   brand                 89378 non-null  object
 2   color                 89378 non-null  object
 3   fuelType              89378 non-null  object
 4   modelDate             89377 non-null  float64
 5   name                  89377 non-null  object
 6   numberOfDoors         89377 non-null  float64
 7   productionDate        89378 non-null  int64
 8   vehicleConfiguration  89377 non-null  object
 9   vehicleTransmission   89377 non-null  object
 10  engineDisplacement    89377 non-null  object
 11  enginePower           89377 non-null  float64
 12  description           86124 non-null  object
 13  mileage               89378 non-null  int64
 14  Комплектация          89378 non-null  object
 15  Привод                89377 non-null  object
 16  Руль                  89378 non-null  object
 17  Состояние             0 non-null      float64
 18  Владельцы             75790 non-null  float64
 19  ПТС                   89017 non-null  object
 20  Таможня               89378 non-null  bool
 21  Владение              29201 non-null  object
 22  price                 88968 non-null  float64
 23  start_date            89378 non-null  object
 24  hidden                0 non-null      float64
 25  model                 89378 non-null  object
dtypes: bool(1), float64(7), int64(2), object(16)
memory usage: 17.1+ MB

In [4]:
df2 = pd.read_csv('all_car_brands_and_their_models_from_auto_ru.csv')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mark    262 non-null    object
 1   Models  262 non-null    object
dtypes: object(2)
memory usage: 4.2+ KB

In [8]:
df = pd.read_csv('test.csv')
#df.info()
df.columns

Index(['bodyType', 'brand', 'color', 'fuelType', 'modelDate', 'name',
       'numberOfDoors', 'productionDate', 'vehicleConfiguration',
       'vehicleTransmission', 'engineDisplacement', 'enginePower',
       'description', 'mileage', 'Комплектация', 'Привод', 'Руль', 'Состояние',
       'Владельцы', 'ПТС', 'Таможня', 'Владение', 'id'],
      dtype='object')

In [4]:
sample_submission = pd.read_csv('sample_submission.csv')

In [5]:
sample_submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3837 entries, 0 to 3836
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3837 non-null   int64
 1   price   3837 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 60.1 KB

In [ ]:
#for year in range(1960, 2021):
#    total_page_count = 0
#    request = requests.get(url, headers=headers)
#    total_page_count = get_total_pages(request.text) # тут получаем количество страниц
#    # Первая страница идет в список
#    offer = get_offer(request.text)   
#    offers.append(offer)
#    # Пробегаем все страницы
#    page = 2
#    for i in range(page, total_page_count+1):
#        url = '...' + page 
#        request = requests.get(url, headers=headers)
#        offer = get_offer(request.text)   
#        offers.append(offer)

In [ ]:
#import requests
#from joblib import Parallel, delayed
#from tqdm.notebook import tqdm
#def get_page(url):
#    page = requests.get(url)
#    if page.status_code != 200:
#    raise BaseException("response code " + str(page.status_code))
#    return page
#pages = Parallel(n_jobs = 5)(delayed(get_page)(url) for url in tqdm(urls))

In [9]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
submit = pd.read_csv('sample_submission.csv')
pd.set_option('display.max_columns', None)
print('Размерность тренировочного датасета: ', train.shape)
display(train.head(2))
print('Размерность тестового датасета: ', test.shape)
display(test.head(2))
print('Размерность датасета c примером сабмишена: ', submit.shape)
display(submit.head(2))

Размерность тренировочного датасета:  (89378, 26)

,bodyType,brand,color,fuelType,modelDate,name,numberOfDoors,productionDate,vehicleConfiguration,vehicleTransmission,engineDisplacement,enginePower,description,mileage,Комплектация,Привод,Руль,Состояние,Владельцы,ПТС,Таможня,Владение,price,start_date,hidden,model
0,Седан,AUDI,040001,бензин,1990.0,2.8 MT (174 л.с.) 4WD,4.0,1991,SEDAN MECHANICAL 2.8,MECHANICAL,2.8,174.0,"Машина в приличном состоянии ,не гнилая не р...",350000,{'id': '0'},полный,LEFT,NaN,3.0,ORIGINAL,True,NaN,200000.0,2019-10-03T08:09:11Z,NaN,100
1,Седан,AUDI,EE1D19,бензин,1982.0,1.8 MT (90 л.с.),4.0,1986,SEDAN MECHANICAL 1.8,MECHANICAL,1.8,90.0,Машина в оригинале не гнилая все вопросы по те...,173424,{'id': '0'},передний,LEFT,NaN,3.0,ORIGINAL,True,NaN,60000.0,2020-09-06T06:49:40Z,NaN,100

Размерность тестового датасета:  (3837, 23)

,bodyType,brand,color,fuelType,modelDate,name,numberOfDoors,productionDate,vehicleConfiguration,vehicleTransmission,engineDisplacement,enginePower,description,mileage,Комплектация,Привод,Руль,Состояние,Владельцы,ПТС,Таможня,Владение,id
0,седан,BMW,чёрный,дизель,2016.0,520d 2.0d AT (190 л.с.),4.0,2017.0,SEDAN AUTOMATIC 2.0,автоматическая,2.0 LTR,190 N12,В РОЛЬФ Ясенево представлено более 500 автомоб...,158836.0,"['[{""name"":""Безопасность"",""values"":[""Антипробу...",задний,Левый,Не требует ремонта,1 владелец,Оригинал,Растаможен,NaN,0
1,седан,BMW,белый,дизель,2018.0,318d 2.0d AT (150 л.с.),4.0,2019.0,SEDAN AUTOMATIC 2.0,автоматическая,2.0 LTR,150 N12,Автомобиль из демонстрационного парка по спец ...,10.0,"['[{""name"":""Комфорт"",""values"":[""Круиз-контроль...",задний,Левый,Не требует ремонта,1 владелец,Оригинал,Растаможен,NaN,1

Размерность датасета c примером сабмишена:  (3837, 2)

   id      price
0   0  5299000.0
1   1  1580000.0

In [10]:
# Для удобства создадим функцию, которая создаст отдельный датафрейм с этими признаками
def check_df(df1,df2):
    '''
    Функция создает отдельный датафрейм с признаками: название,количество уникальных значений, их тип, содержание.
    А так же показывает несоответствие признаков
    '''
    ## Соберем данные по первому датасету
    list_tags_1 = list(df1.columns)
    dict_comp_1 = {}
    
    dict_comp_1['Уникальность_1'] = df1.nunique().values
    dict_comp_1['Первая_строка_1'] =df1.loc[0].values
    dict_comp_1['Тип_1'] = df1.dtypes
    dict_comp_1['Признак_1'] = list_tags_1
    data_comp_1 = pd.DataFrame.from_dict(dict_comp_1)
    
    ## Соберем данные по второму датасету
    list_tags_2 = list(df2.columns)
    dict_comp_2 = {}
    dict_comp_2['Признак_2'] = list_tags_2 
    dict_comp_2['Уникальность_2'] = df2.nunique().values
    dict_comp_2['Тип_2'] = df2.dtypes
    dict_comp_2['Первая_строка_2'] =df2.loc[0].values
    data_comp_2 = pd.DataFrame.from_dict(dict_comp_2)
    
    #объеденим датасеты
    df_comp = pd.concat([data_comp_1,data_comp_2], axis=1, sort=False)
    df_comp.reset_index(inplace = True)
    del df_comp['index']
    df_comp = pd.DataFrame(df_comp)
    display(df_comp)
    
    dif_list  = []
    dif_list2  = []
    dif_list3  = []
    dif_list4  = []
    dif_list5  = []
    dif_dict = {}
    for i in range(len(df_comp)):
        if str(df_comp['Тип_2'][i]) != str(df_comp['Тип_1'][i]):
            dif_list.append(df_comp['Признак_1'][i])
            dif_list2.append(df_comp['Признак_2'][i])
            dif_list2  = []
            dif_list3.append(str(df_comp['Тип_1'][i]) + ' != ' + str(df_comp['Тип_2'][i]))
            dif_list4.append(i)
        #if check_df['Уникальность_2'][i]>0 and check_df['Уникальность_1'][i]/check_df['Уникальность_2'][i] > 2:
            #dif_list5.append(i)
            
    dif_dict['index']= dif_list4
    dif_dict['Признак_1']= dif_list
    dif_dict['не совпадают типы'] = dif_list3
    dif_dict['Признак_2']= dif_list2
    dif_df = pd.DataFrame.from_dict(dif_dict)
    dif_df.set_index('index',inplace=True)

    print(f'Резюме:\n1. Не совпали типы в:= {len(temp_df4)} столбцах\n')
    #print(f'2. Уникальные значения заоблачно различаются в:= {len(temp_list5)} столбцах {temp_list5}')
    display(temp_df4)

    return

In [ ]:
def describe_without_plots_all_collumns(d_df, full=True, short=False):
    list_of_names = list(d_df.columns)
    temp_dict = {}
    temp_dict['имя признака'] = list_of_names
    temp_dict['тип'] = d_df.dtypes
    temp_dict['# значений'] = d_df.describe(include='all').loc['count']
    temp_dict['# пропусков(NaN)'] = d_df.isnull().sum().values 
    temp_dict['# уникальных'] = d_df.nunique().values
    if not short:
        temp_dict['в первой строке'] =d_df.loc[0].values
        temp_dict['во второй строке'] = d_df.loc[1].values
        temp_dict['в третьей строке'] = d_df.loc[2].values
    if full :
        temp_dict['минимум'] = d_df.describe(include='all').loc['min']
        temp_dict['среднее'] = d_df.describe(include='all').loc['mean']
        temp_dict['макс'] = d_df.describe(include='all').loc['max']
        temp_dict['медиана'] = d_df.describe(include='all').loc['50%']
    temp_df = pd.DataFrame.from_dict(temp_dict, orient='index')
    display(temp_df.T)

    return

In [ ]:
def months_to_sent(months):
    if months == 1:
        return f'{months} месяц'
    elif 2 <= months <= 4:
        return f'{months} месяца'
    return f'{months} месяцев'
def years_to_sent(years):
    if 11 <= years <= 14 or 5 <= years%10 <= 9 or years%10 == 0:
        return f'{years} лет'
    elif years%10 == 1:
        return f'{years} год'
    elif 2 <= years%10 <= 4:
        return f'{years} годa'
def tenure(row):
    row = re.findall('\d+',row)
    if row != []:
        pdb.set_trace() 
        years = 2020 - (int(row[0])+1)
        months = 2 +(12 - int(row[1]))
        if years < 0:
            return months_to_sent(int(row[1]))
        elif years == 0 and months < 12:
            return months_to_sent(months)
        elif years >= 0 and months == 12:
            return years_to_sent(years + 1)
        elif years >= 0 and months > 12:
            return years_to_sent(years + 1)+' и '+months_to_sent(months - 12)
        elif years > 0 and months < 12:
            return years_to_sent(years)+' и '+months_to_sent(months)
        return None
    
df.loc[df['Train']==1,'Владение'] = df[df['Train']==1]['Владение'].apply(tenure)

In [ ]:
Train_df = df[df['Train']==1]
Test_df = df[df['Train']==0]
#month = ['месяц','месяца','месяцев']
#year = ['лет','год','года']
def rename_months(months):
    if months == 1:
        return f'{months} месяц'
    elif 2 <= months <= 4:
        return f'{months} месяца'
    else:
        return f'{months} месяцев'
def rename_years(years):
    if 11 <= years <= 14 or 5 <= years%10 <= 9 or years%10 == 0:
        return f'{years} лет'
    elif years%10 == 1:
        return f'{years} год'
    elif 2 <= years%10 <= 4:
        return f'{years} годa'
def rename_train(row):
    row = re.findall('\d+',row)
    if row != []:
        years = 2020 - int(str(row[0]))-1
        months = 12 - int(str(row[1]))
        if years < 0:
            return rename_months(int(row[1]))
        elif years == 0 and months < 12:
            return rename_months(months)
        elif years >= 0 and months == 12:
            return rename_years(years + 1)
        elif years >= 0 and months > 12:
            return rename_years(years + 1)+' и '+rename_months(months - 12)
        elif years > 0 and months < 12:
            return rename_years(years)+' и '+rename_months(months)
Train_df['Владение'].apply(rename_train)